<navbar></navbar>

<div class="wrapper">

    <div class="lg-screen-wrapper">
    
        <form class="entry-form" role="form">

            <div class="input-group">
                <input ng-model="shoppingListCtrl.newItem"
                    class="form-control"
                    placeholder="Add an item"
                    type="text">
            </div>

            <div class="c2a margin-above">
                <button ng-click="shoppingListCtrl.addItem(shoppingListCtrl.newItem)"
                    class="btn btn-default c2a-btn"
                    type="submit">
                    Add
                </button>
            </div>
                
        </form>

        <p class="margin-above">Double-click to edit.</p>

        <ul class="list-group shopping-list margin-above">

            <li ng-repeat="item in shoppingListCtrl.items" class="list-group-item shopping-item">

                <div class="list-left">
                    <input ng-click="shoppingListCtrl.removeFromPool(item)"
                        type="checkbox">
                </div>

                <div class="list-right">
                    <p ng-dblclick="shoppingListCtrl.activateEdit(item.id)"
                        ng-hide="shoppingListCtrl.toggleView(item.id)"
                        dbltap="shoppingListCtrl.activateEdit(item.id)"
                        ng-class="shoppingListCtrl.checkIfRemoved(item)">
                        {{ item.item }}
                    </p>

                    <input ng-show="shoppingListCtrl.toggleView(item.id)"
                        class="edit-input"
                        ng-blur="shoppingListCtrl.deactivateEdit()"
                        change="shoppingListCtrl.editItem(updatedItem)"
                        focus="shoppingListCtrl.toggleView(item.id)"
                        ng-model="updatedItem" id="{{ item.id }}"
                        type="text">
                </div>

            </li>

        </ul>

        <div class="c2a">
            <button type="button"
                data-toggle="modal"
                data-target="#remove-alert"
                class="btn btn-default c2a-btn">
                Remove items
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

        <div ng-show="shoppingListCtrl.empty" class="empty">
            <h3>Shopping list is empty.</h3>
            <p>Find recipes <a href="#!/search">here!</a></p>
        </div>
    </div>

    <div id="remove-alert" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-wrapper">
                        <div ng-hide="shoppingListCtrl.removeCount">
                            <p>There are no items to remove.</p>
                        </div>
                        <div ng-show="shoppingListCtrl.removeCount">
                            <p>Are you sure you want to remove these item?</p>
                            <div class="c2a">
                                <button ng-click="shoppingListCtrl.removeItems(shoppingListCtrl.itemsPool)"
                                    type="button"
                                    class="btn btn-default c2a-btn confirm-btn"
                                    data-dismiss="modal">
                                    Yes
                                </button>
                                <button type="button"
                                    class="btn btn-default c2a-btn confirm-btn"
                                    data-dismiss="modal">
                                    No
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

