.search-input {
    width: 100%;
}

.favorite-btn {
    margin-top: 1rem;
}

.glyphicon-heart {
    font-size: 1.6rem;
}

.glyphicon-search {
    font-size: 1.6rem;
}

.search-btn {
    margin: 2rem auto;
}

.recipe-image {
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
}

#search-main {
    margin-top: 5rem;
}



@media (min-width: 32rem) {

    .search-input {
        width: 70%;
        float: left;
        margin-top: 0.7rem;
    }

    .search-btn {
        width: 25%;
        float: right;
        margin: 0;
    }

    .overflow-fix {
        overflow: auto;
    }

    .favorite-btn  {
        width: 100%;
        margin: 1rem 0 0 0;
    }

    .list-items {
        clear: both;
    }
}