* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: grey;
    font-size: 2.8rem;
}

p {
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    line-height: 1.618;
}

/*bootstrap overwrites*/

.navbar-default {
    background-color: white;
    border-color: white;
}
.navbar-default .navbar-toggle {
    border-color: #ff9800;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff9800;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: white;
}

.navbar-default .navbar-nav > li > a {
    color: #ff9800;
    font-size: 2rem;
    padding: 2rem;
}

.list-group-item {
    border: 1px solid #ff9800;
}

.btn-default {
    color: #ff9800;
    border-color: #ff9800;
    font-size: 2rem;
}

.btn-default:hover {
    background-color: #ff9800;
    border-color: #ff9800;
    color: white;
}

.form-control {
    border: none;
    border-bottom: 1px solid #cccccc;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.2rem;
}

.input-group {
    width: 28rem;
}

/*main classes*/

.wrapper {
    width: 28rem;
    margin: 0 auto;
}

.header {
    width: 28rem;
    margin: 2rem auto;
}

.header > h1 {
    margin: 2.5rem 0;
    line-height: 1.3;
}

.entry-form {
    width: 28rem;
    margin: 0 auto;
}

.c2a {
    text-align: right;
    margin-top: 2rem;
}

.wrapper > p {
    margin-top: 2.5rem;
    text-align: center;
}

.recipe-image {
    height: auto;
    width: 100%;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.loader {
    padding-top: 50px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.loader>img {
    width: 60px;
    height: 60px;
}
