<navbar></navbar>

<h1>detail</h1>
<p ng-show="detailCtrl.lastRouteLink()">Back to <a ng-href="#!{{ detailCtrl.lastRoute }}">{{ detailCtrl.lastRouteLink() }}</a></p>

<img ng-src="{{ detailCtrl.recipe.image }}" class="recipe-image">
<h5>{{ detailCtrl.recipe.label }}</h5>
<p>{{ detailCtrl.recipe.calories | number:0 }} calories</p>
<p>{{ detailCtrl.recipe.yield }} servings</p>
<a ng-href="{{ detailCtrl.recipe.url }}">Cooking Instructions</a>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ingredients" aria-expanded="false" aria-controls="ingredients">
  Ingredients
</button>

<div class="collapse" id="ingredients">
    <div class="well">
        <ul class="list-group">
            <li ng-repeat="item in detailCtrl.recipe.ingredientLines" class="list-group-item">
                <label><input ng-click="detailCtrl.toggleSelection(item)" class="ingredient-checkbox" type="checkbox">{{ item }}</label>
            </li>
        </ul>
        <button ng-click="detailCtrl.addItems(detailCtrl.arrayToAdd)" class="btn btn-default" data-toggle="modal" data-target="#add-alert" type="button">Add</button>
    </div>
</div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#health-labels" aria-expanded="false" aria-controls="health-labels">
  Health Labels
</button>

<div class="collapse" id="health-labels">
    <div class="well">
        <ul class="list-group">
            <li ng-repeat="healthLabel in detailCtrl.recipe.healthLabels" class="list-group-item">
                {{ healthLabel }}
            </li>
        </ul>
    </div>
</div>

<div id="add-alert" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Added ingredients to shopping list.</p>
            </div>
        </div>
    </div>
</div>
