<navbar></navbar>

<div id="home-main">
    <h1>The Ultimate Cooking Assistant</h1>
    <p>Let us help you in the kitchen. Join us today!</p>
    <div id="home-main-c2a">
        <a href="#!/signup"><button class="signup btn btn-default" type="button">Sign Up</button></a>
        <a href="#!/login"><button class="login btn btn-default" type="button">Login</button></a>
    </div>
</div>

<div id="recipes">
    <h3>Lots of recipes, little time</h3>
    <p>Find a recipe quickly. Save your favorite ones to cook again and share them with your friends.</p>
    <button class="btn btn-default" type="button">Learn More</button>
</div>

<div id="groceries">
    <h3>Help with groceries</h3>
    <p>Make a shopping list before you head to the grocery store. Check them off as you go.</p>
    <button class="btn btn-default" type="button">Learn More</button>
</div>
