<navbar></navbar>

<div class="wrapper">
    <div class="lg-screen-wrapper">

        <div class="header"><h1>The Ultimate Cooking Assistant</h1></div>

        <div id="home-message">
            <p>Everything you need. Let us help you in the kitchen. Join us today!</p>
        </div>

        <div class="c2a">
            <a href="#!/signup">
                <button class="btn btn-default c2a-btn margin-above" type="button">Sign Up</button>
            </a>
            <a href="#!/login">
                <button class="btn btn-default c2a-btn margin-above" type="button">Login</button>
            </a>
        </div>

    </div>
</div>