<navbar></navbar>

<div class="wrapper">
    <div class="lg-screen-wrapper">
        <form class="entry-form" role="form">
            <div class="input-group">
                <input ng-model="signupCtrl.credentials.username" class="form-control" placeholder="username" aria-describedby="basic-addon1" type="username">
                <p class="requirement">Must be 4 - 16 characters</p>
            </div>
            <div class="input-group">
                <input ng-model="signupCtrl.credentials.password" class="form-control" placeholder="password" aria-describedby="basic-addon1" type="password">
                <p class="requirement">Must be 8 - 16 characters</p>
            </div>
            <div class="c2a margin-above">
                <button ng-click="signupCtrl.signup(signupCtrl.credentials)" class="btn btn-default c2a-btn" type="submit">Sign Up</button>
            </div>
            <p class="alternative">Already have an account? Log in <a href="#!/login">here.</a></p>
        </form>
        <div ng-hide="signupCtrl.success" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span> {{ signupCtrl.errorMessage }}
        </div>       
    </div>
</div>
